[submodule "ZJLog"]
	path = ZJLog
	url = https://github.com/Eafy/ZJLog.git
[submodule "JMSmartUtils"]
	path = JMSmartUtils
	url = https://github.com/JimiPlatform/JMSmartUtils.git
[submodule "JMMonitorView"]
	path = JMMonitorView
	url = https://github.com/JimiPlatform/JMMonitorView
[submodule "JMSmartMediaPlayer"]
	path = JMSmartMediaPlayer
	url = https://github.com/JimiPlatform/JMSmartMediaPlayer.git
[submodule "JMOrderCoreKit"]
	path = JMOrderCoreKit
	url = https://github.com/JimiPlatform/JMOrderCoreKit.git
[submodule "JMSmartNetSeeker"]
	path = JMSmartNetSeeker
	url = http://10.0.10.85/app/ios/JMSmartNetSeeker.git
