[submodule "ZJLog"]
	path = ZJLog
	url = https://github.com/Eafy/ZJLog.git
[submodule "JMSmartUtils"]
	path = JMSmartUtils
	url = git@10.0.10.85:COMM/app/utils-ios.git
[submodule "JMMonitorView"]
	path = JMMonitorView
	url = https://github.com/JimiPlatform/JMMonitorView
[submodule "JMSmartNetSeeker"]
	path = JMSmartNetSeeker
	url = http://10.0.10.85/app/ios/JMSmartNetSeeker.git
[submodule "JMSmartBluetooth"]
	path = JMSmartBluetooth
	url = http://10.0.10.85/app/ios/JMSmartBluetooth.git
[submodule "JMSmartFTPUtils"]
	path = JMSmartFTPUtils
	url = https://github.com/JimiPlatform/JMSmartFTPUtils.git
[submodule "JMOrderCoreKit"]
	path = JMOrderCoreKit
	url = https://github.com/JimiPlatform/JMOrderCoreKit.git
