[submodule "ZJLog"]
	path = ZJLog
	url = https://github.com/Eafy/ZJLog.git
[submodule "JMSmartUtils"]
	path = JMSmartUtils
	url = http://10.0.10.85/app/ios/JMSmartUtils.git
[submodule "JMMonitorView"]
	path = JMMonitorView
	url = https://github.com/JimiPlatform/JMMonitorView
[submodule "JMSmartMediaPlayer"]
	path = JMSmartMediaPlayer
	url = https://github.com/JimiPlatform/JMSmartMediaPlayer.git
[submodule "JMOrderCoreKit"]
	path = JMOrderCoreKit
	url = https://github.com/JimiPlatform/JMOrderCoreKit.git
[submodule "JMSmartNetSeeker"]
	path = JMSmartNetSeeker
	url = http://10.0.10.85/app/ios/JMSmartNetSeeker.git
[submodule "yoga"]
	path = ReactNative/yoga
	url = http://10.0.10.85/app/ios/yoga.git
[submodule "glog"]
	path = ReactNative/glog
	url = http://10.0.10.85/app/ios/glog.git
[submodule "DoubleConversion"]
	path = ReactNative/DoubleConversion
	url = http://10.0.10.85/app/ios/DoubleConversion.git
[submodule "ReactNative"]
	path = ReactNative/ReactNative
	url = http://10.0.10.85/app/ios/ReactNative.git